/* --General-- */
:root {
    --mainFont: 'Montserrat',  Verdana, sans-serif;
    --mainLight: rgb(255, 255, 255);
    --mainDark: rgb(50, 50, 50);
}

* {
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--mainFont);
    background-color: var(--mainDark);
    background-image: url(https://images.unsplash.com/photo-1523895665936-7bfe172b757d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
    background-size: cover;
    position: relative;
}

main, footer {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

/* --Main-- */
main {
    background-color: var(--mainLight);
    margin-top: 2%;
    border-radius: 5px;
    box-shadow: 0 0 15px var(--mainLight);
}

/* --Navigation-- */
nav {
    padding: 1%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.colors, .lines {
    width: 40%;
}

.box {
    width: 50%;
}

.colors, .lines, .box {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: justify;
        justify-content: space-between;
}

.pattern {
    margin-right: 20px;
}

input, button {
    cursor: pointer;
}

button, input[type="color"] {
    width: 50px;
    height: 50px;
    margin: 1%;
    border-radius: 5px;
    transition: .5s;
    box-shadow: 0 0 2px 1px var(--mainDark);
}

button {
    background-color: var(--mainLight);
    border: none;
    display: inline-block;
    outline: none;
}

button:hover, input[type="color"]:hover {
    box-shadow: 0 0 6px 1px var(--mainDark);
}

.checked {
    box-shadow: 0 0 3px 1px rgb(245, 27, 34);
}

.pattern img, .palette img {
    width: 100%;
    height: auto;
}

.palette {
    background-image: linear-gradient(45deg, rgb(254,235,70), rgb(182,47,43), rgb(22,179,230));
}

input[type="color"] {
    -webkit-appearance: none;
    border-width: 10px;
    border-top-color: rgb(253, 246, 182);
    border-left-color: rgb(233, 252, 147);
    border-right-color: rgb(191, 253, 250);
    border-bottom-color: rgb(248, 182, 198);
    background-color: rgb(255,255,255);
    margin-left: 30px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}

input[type="color"]::-webkit-color-swatch {
	border: none;
}

.tooltip_box {
    position: relative;
}

.tooltip_box_input {
    display: inline-block;
}

.tooltip_box_input .tooltip {
    left: -30%;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: -35px;
    left: -50px;
    width: 150px;
    padding: 3px 7px;
    background-color: rgba(255,255,255,0.95);
    border: 1px solid var(--mainDark);
    border-radius: 3px;
    font-size: 15px;
    font-family: var(--mainFont);
    text-align: center;
}

.tooltip_box:hover .tooltip {
    visibility: visible;
}

.line:first-child {
    background-image: radial-gradient(rgb(0,0,0) 4px, rgb(255,255,255) 4px);
}

.line:nth-child(2) {
    background-image: radial-gradient(rgb(0,0,0) 6px, rgb(255,255,255) 6px);
}

.line:last-child {
    background-image: radial-gradient(rgb(0,0,0) 8px, rgb(255,255,255) 8px);
}

/* --Canvas-- */
.drawing_canvas {
    max-width: 1200px;
    min-height: 100vh;
    position: relative;
}

.drawing_canvas canvas {
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    width:90%;
    height:90%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px dashed var(--mainDark);
}

/* --Instruction-- */
aside {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 1%;
    background-color: rgba(255,255,255,0.95);
    border-radius: 5px;
    box-shadow: 0 0 5px var(--mainDark);
    text-align: center;
}

.instructionBtn {
    position: absolute;
    border-radius: 50%;
    top: 2%;
    right: 2%;
    font-size: 24px;
    transform: rotate(45deg);
    text-shadow: 0 0 2px var(--mainDark);
}

.instruction {
    width: 80%;
    margin: 1% auto;
    padding: 1%;
    border-radius: 5px;
    background-color: rgb(255,255,255);
}

.instruction img {
    display: block;
    margin: 1% auto;
}

/* --Footer-- */
footer {
    margin-top: 2%;
    margin-bottom: 1%;
    text-align: center;
    color: var(--mainLight);
}

/* --RWD-- */
@media (max-width: 1000px) {
    /* --Navigation-- */
    .colors, .lines {
        -ms-flex: 100%;
            flex: 100%;
    }

    .tooltip_box_input .tooltip {
        left: -90%;
    }

    .pattern .tooltip, .box .tooltip {
        top: 15px;
    }
    
    .pattern .tooltip, .palette .tooltip {
        left: 0;
    }

    .box .tooltip:last-child {
        left: -100px;
    }
}

@media (max-width: 500px) {
    /* --Instruction-- */
    aside .resImg {
        width: 95%;
        height: auto;
    }
}

@media (max-width: 280px) {
    /* --Footer-- */
    footer {
        font-size: 12px;
    }
    footer img {
        width: 20px;
        height: auto;
    }
}